.hero {
  padding-top: calc(var(--nav-height) + 10px);
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.hero-info {
  flex: 3;
}
.hero-img {
  flex: 4;
}
.hero-img img {
  object-fit: contain;
  z-index: -1;
}

.hero h1 {
  font-size: 6rem;
  line-height: 4rem;
  font-weight: 300;
}
.hero-title {
  margin-bottom: 2rem;
}

.hero p {
  font-size: 1.8rem;
  line-height: 1.4em;
  color: var(--black);
}
.hero-desc {
  margin-bottom: 1.5rem;
}

.hero-icons {
  display: flex;
  gap: 1.5rem;
}

.hero button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
  font-size: 2rem;
}

.hero button:hover {
  color: var(--seagreen);
}

.star-icons {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
  gap: 0.5rem;
  margin-right: 1rem;
}

.star-icon:hover {
  color: var(--seagreen);
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.6rem;
  }

  .hero button {
    font-size: 1.4rem;
  }

  .hero-wrapper {
    flex-direction: column-reverse;
  }

  .hero-img img {
    max-width: 400px;
  }

  .star-icons {
    display: none;
  }
}
